mixin dropdown
  -
    const {
      items,
      mods,
      showCaret = 'true',
      triggerText = 'Menu',
      isDisabled = 'false',
      baseClassName = 'dropdown'
    } = attributes;

    const otherAttrs = _.omit(
      attributes,
      [
        'items',
        'mods',
        'showCaret',
        'triggerText',
        'isDisabled',
        'baseClassName',
      ]
    );

    const classes = _.classnames(
      [
        {
          [baseClassName]: baseClassName,
          [`${baseClassName}_disabled`]: isDisabled,
        }
      ].concat($getModsArr(baseClassName, mods))
    );

  div(class=classes aria-disabled=isDisabled)&attributes(otherAttrs)
    button(class=`${baseClassName}__trigger` data-dropdown-trigger aria-hascaret=showCaret)
      div(class=`${baseClassName}__text`)= triggerText

      if (showCaret === 'true')
        div(class=`${baseClassName}__caret`)

    ul(class=`${baseClassName}__menu` data-dropdown-menu)
      each item in items
        li(data-dropdown-item-active=`${item.isActive || false}`)
          if (item.href)
            a(tabindex='0' href=item.href)!= item.text
          else
            span!= item.text
